body {
   background-color: #888888
    ;
   padding: 30px;
  
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
        padding: 1px;
        border: 8px solid black;
}

h1 {
  color: #000000;
  text-shadow:
    /* Teal/Black glow */
    0 0 7px #27575C,
    0 0 10px #27575C,
    0 0 21px #142223,
    /* Teal glow */
    0 0 42px #27575C,
    0 0 82px #27575C,
    0 0 92px #27575C,
    0 0 102px #f00,
    0 0 151px #142223;
animation: fontweight alternate-reverse 3s infinite;
}
@keyframes fontweight{
  from{font-weight:100}
  to{font-weight:900}