body {
   background-color: #888888
    ;
   padding: 30px;
  
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
        padding: 1px;
        border: 8px solid black;
}

h1 {
  color: #000000;
  text-shadow:
    /* Yellow/White glow */
    0 0 7px #FFFA99,
    0 0 10px #FAF378,
    0 0 21px #FAF378,
    /* Yellow glow */
    0 0 42px #FFFA99,
    0 0 82px #FFFA99,
    0 0 92px #FFFA99,
    0 0 102px #FFFA99,
    0 0 151px #FFFA99;
animation: fontweight alternate-reverse 3s infinite;
}
@keyframes fontweight{
  from{font-weight:100}
  to{font-weight:900}